// To apply a Bootswatch flavor, describe as follows (keeping the order):
// @import "stylesheets/bootswatch/slate-variables";
// @import "stylesheets/bootstrap";
// @import "stylesheets/responsive";
// @import "stylesheets/bootswatch/slate";

@import "stylesheets/bootstrap";
@import "stylesheets/responsive";

// fix for responsive design
@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

article footer ul.tags {
  margin-left: auto;

  li.tag {
    display: inline;
    margin: 0 1px;

    a {
      @extend .label;
      @extend .label-info;
    }
  }
}
