@charset "utf-8";
@import url("bootstrap.min.css");
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);


html, body {
    background-color: #eee;
}

body {
    padding-top: 40px;
}

.topbar .brand {
    font-family: 'Nothing You Could Do', cursive;
}

.topbar .btn {
    border: 0;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

article {
    margin: 0px 0px 30px 0px;
}

article .flickr {
    text-align: center;
}

article .slideshare {
    text-align: center;
}

article footer {
  padding: 0;
  text-align: right;
}

article footer p {
  text-align: right;
}

article footer ul.tags {
  display: inline;
  list-style-type: none;
}

article footer ul.tags li.tag {
  display: inline;
}

article footer ul.tags li.tag:before {
  content: ", ";
}

article footer ul.tags li.tag:first-child:before {
  content: " ";
}

article footer .comment {
  display: inline;
  margin-left: 0.5em;
}

article footer time {
  display: inline;
  margin-left: 0.5em;
}

footer p {
    text-align: center;
}
